.info-container {
    margin-top: 15px;
    border: 2px solid rgb(89, 89, 252);
    padding: 30px;
}

.info-wrap {
    display: flex;
    justify-content: space-between;
}

.info-description-wrap {
    width: 60%;
}

.info-authors-wrap {
    width: 30%;
    font-size: 13px;
}

.info-title {
    text-align: center;
    margin-bottom: 50px;
}

.info-subtitle {
    margin-bottom: 15px;
}