.create-section-wrap {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 2px solid grey;
  gap: 5px;
}

.create-wrap {
  padding: 20px 0;
}

.form-wrap{
  display: flex;
}

.form-input{
  flex-direction: column;
  display: flex;
  width: 50%;
  gap: 5px;
}

.form-btn{
  width: 50%;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

.author-wrap {
  margin-top: 20px;
  border: 2px solid green;
  padding: 30px;
}

.textarea-label {
  margin-top: 20px;
}

.textarea{
  padding: 10px;
}

.add-author-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
  gap: 23px;
}

.author-title{
  margin: 30px 0 10px;
  align-self:center;
}

.author-name-title{
  margin-bottom: 10px;
  align-self: center;
}

.author-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.authors-section{
  width: 45%;
  text-align: center;
}

.form-wrap-btn{
  display: flex;
  align-self: center;
  margin-top: 8px;
}

.authors-wrap{
  display: flex;
  justify-content: space-between;
  margin: 19px 0;
}

.authors-section-title {
  margin-bottom: 25px;
}

.duration{
  align-self: flex-start;
  font-size: 22px;
  margin-top: 15px;
}