.registration-form-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 200px;
}

.registration-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message{
    text-align: center;
    font-size: 15px;
    color: red;
}